body{
    background: teal;
    display: flex;
    height: 100vh;
}

h2{
    text-align: center;
    color: white;
    height: 30px;
    width: 100px;
    font-family: 'Kelly Slab', cursive;
}

#reset{
    height: 50px;
    width: 50px;
}

img{
    position: relative;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

#carton{
    position: relative;
    top: 200px;
    left: 500px;
    height: 500px;
    width: 500px;
}

.tenu {
    border: solid 5px #ccc;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

